/*Page layout styles*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */

    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-size: small;
    background-image:url(../images/cart-page-back.jpg);
    background-repeat:repeat-x;
    background-position:0 0;
    background-color:#f3f4f8;
}
a{
    cursor:pointer;
}
div#container {
    position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */
    background-image: url("../images/background.jpg");
/*width:750px;*/

    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/

    min-height: 100%; /* real browsers */
    background-size: 100%
}

div#logout-area {
    float: right;
    width: auto;
    padding: 0px 20px 0px 0px;
}

div#logout-area p{
    font-size: 14px;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    margin: 0 auto;
}

div#logout-area img{
    margin: auto;
    padding: 0 0 0 100px;
}

a.button#logout {
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color:#fff;
    background-color:#868e96;
    border-color:#868e96
}

div#header-area {
    font-family: 'Fenix', serif;
    padding-left: 5em;
    padding-top: 10em
    height:139px;
    background-position:0 0;
    font-size:30px;
    font-weight:bold;
}

div#header-area h1 {
    font-size: 62px;
    display: inline-block;
    border-bottom: 3px solid #7e7979;
    margin-bottom: 20px;
    margin-top: 3em;
}

div#content-area {
    padding-top: 60px;
    padding-right: 20px;
    width: 1280px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-top:-30px;
}

.product-box{
    border:solid 0px #ececec;
    margin-top:10px;
    padding:1em 1em 1em 12em;
    margin-bottom:40px;
    color:#535353;
    line-height:30px;
}
.product-box h2 a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

.product-box h2 a:visited {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}
.product-box h2 a img{
    vertical-align:middle;
}

.product-box h2 a span{
    vertical-align:middle;
    font-color: #000;
}

div#footer-area {
    position: absolute;
    width: 100%;
    bottom: 0; /* stick to bottom */
    background-color:#e6e6e6;
    border-top:solid 3px #14566d;
    padding-top:1em;
    font-size:11px;
    color:#333;
    padding-bottom:10px;
}
div#footer-area p {
    padding-left:20px;    
}

/* Page decration styles*/
.cart-expbox{
    width:100%;    
}
.cart-expbox-02{
    background-image:url(../images/cart-expbox-02.gif);
    background-repeat:repeat-x;
    background-position:0 0;
    font-size:1px;
    height:9px;
}
.cart-expbox-04{
    background-image:url(../images/cart-expbox-04.gif);
    background-repeat:repeat-y;
    background-position:0 0;
    width:10px;
    font-size:1px;
}
.cart-expbox-06{
    background-image:url(../images/cart-expbox-06.gif);
    background-repeat:repeat-x;
    background-position:0 0;
    font-size:1px;
    height:9px;
}
.cart-expbox-08{
    background-image:url(../images/cart-expbox-08.gif);
    background-repeat:repeat-y;
    background-position:0 0;
    width:10px;
}
.cart-expbox-09{
    background-image:url(../images/cart-expbox-09.gif);
    background-repeat:repeat-x;
    background-position:0 0;
    background-color:#4f9db9;
    text-align:right;
}
.cart-expbox-09 a{
    color:#fff;
    padding-left:30px;
    padding-right:10px;
}
.cart-expbox-09 a.cart-checkout{
    background-image:url(../images/cart-checkout-icon.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}
.cart-expbox-09 a.cart-show-white{
    background-image:url(../images/cart-cart-icon-white.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}
a.cart-show-black{
    padding-left:30px;
    font-weight:bold;
    background-image:url(../images/cart-cart-icon-black.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}
.cart-tab-mid{
    background-image:url(../images/cart-tab-mid.gif);
    background-repeat:repeat-x;
    background-position:0 0;
    cursor:pointer;
}
.cart-tab-left{
    width:11px;
    font-size:1px;
}
.cart-tab-right{
    width:11px;
    font-size:1px;
}
.cart-tabs{
    padding-left:20px;
}
.price{
    color:#dc0000;
    font-size:24px;
}
.cartData{
    text-align:left;
}
.show-items{
    color:#fffc8f;
}
.item-list{
    border-left:solid 1px #d2e6ec;
    border-top:solid 1px #d2e6ec;
    width:100%;
}
.item-list thead th{
    background-color:#a1d2e5;
    border-right:solid 1px #d2e6ec;
    border-bottom:solid 1px #d2e6ec;
    padding-left:5px;
    padding-top:3px;
}
.item-list tbody td{
    border-right:solid 1px #d2e6ec;
    border-bottom:solid 1px #d2e6ec;
    padding-left:5px;
    padding-right:3px;
    padding-top:3px;
    color:#fff;
}
.delete-icon{
    background-image:url(../images/trash.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}
.lastColWidth{
    width:100px;
}
.pricecol{
    text-align:right;
}
.price-total{
    padding-top:10px;
    font-size:20px;
    color:#fff;
}
.checkout-wrapper{
    padding-top:10px;
    text-align:right;
}
.cartData h1{
    color:#fff;
}

